<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %-36.36logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <!--<logger name="org.flexiblepower.runtime.context.RuntimeContext" level="TRACE"/>-->
    <logger name="org.eclipse" level="INFO"/>
    <logger name="org.flexiblepower.runtime.ui" level="DEBUG"/>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>