# Generate Java / Eclipse generated stuff
.metadata
*.swp
cnf/db
cnf/cache
cnf/release
bin
bin_test
generated
*playground
cobertura.ser
instrumented
coverage.xml

# Keep the projects list
!.metadata/.plugins/org.eclipse.core.resources/.projects/

# GWT generated stuff
.gwt
gwt-unitCache
deploy
*.cache.html
*.cache.gif
*.gwt.rpc
*.nocache.js
hosted.html
