# Generate Java / Eclipse generated stuff
.metadata
*.swp
cnf/db
cnf/cache
cnf/release
bin
bin_test
generated
*playground

# GWT generated stuff
.gwt
gwt-unitCache
deploy
*.cache.html
*.cache.gif
*.gwt.rpc
*.nocache.js
hosted.html
