/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Standard styles */
@font-face {
		font-family: 'DINCond-Bold';
		src: url('fonts/dincond-bold.eot');
		src: url('fonts/dincond-bold.eot?#iefix') format('embedded-opentype'),
				 url('fonts/dincond-bold.woff') format('woff'),
				 url('fonts/dincond-bold.ttf') format('truetype'),
				 url('fonts/dincond-bold.svg#dincond-bold') format('svg');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'HelveticaNeueLTPro-Bd';
		src: url('fonts/helveticaneueltpro-bd.eot');
		src: url('fonts/helveticaneueltpro-bd.eot?#iefix') format('embedded-opentype'),
				 url('fonts/helveticaneueltpro-bd.woff') format('woff'),
				 url('fonts/helveticaneueltpro-bd.ttf') format('truetype'),
				 url('fonts/helveticaneueltpro-bd.svg#helveticaneueltpro-bd') format('svg');
		font-weight: normal;
		font-style: normal;
}

body {
	background: white; /* 373737 26d014 */
	font-family: 'Tahoma', Arial, Helvetica sans-serif;
	font-size: 13px;
	color: #434343;
}

.clear {
	clear: both;
}

.center {
	margin: 0 auto;
	width: 960px;
}

h1, h2, h3 {
	font-family: 'DINCond-Bold';
}

.button {
	display: inline-block;
	height: 22px;
	padding: 5px 25px 0 25px;
	font-size: 16px;
	color: #fff;
	background: #ff0000;
	text-decoration: none;
	font-family: 'DINCond-Bold';
	text-transform: uppercase;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
    border-radius: 3px;
	/* bevel embos */
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(0,0,0,.25), inset 0 -1px 0 rgba(255,255,255,.2), 0 1px 0 rgba(0,0,0,.1);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(0,0,0,.25), inset 0 -1px 0 rgba(255,255,255,.2), 0 1px 0 rgba(0,0,0,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(0,0,0,.25), inset 0 -1px 0 rgba(255,255,255,.2), 0 1px 0 rgba(0,0,0,.1);	
	
}
.button.large {
	height: 35px;
	line-height: 35px;
	padding: 0 40px 0 40px;
	font-size: 20px;
}
.button:hover {
	color: #000;
}
.button.green {
	background: rgb(79,217,64); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(79,217,64,1) 0%, rgba(32,170,17,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(79,217,64,1)), color-stop(100%,rgba(32,170,17,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(79,217,64,1) 0%,rgba(32,170,17,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(79,217,64,1) 0%,rgba(32,170,17,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(79,217,64,1) 0%,rgba(32,170,17,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(79,217,64,1) 0%,rgba(32,170,17,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fd940', endColorstr='#20aa11',GradientType=0 ); /* IE6-9 */
}
.button.grey {
	background: rgb(47,47,47); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(47,47,47,1) 0%, rgba(86,86,86,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(47,47,47,1)), color-stop(100%,rgba(86,86,86,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(47,47,47,1) 0%,rgba(86,86,86,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(47,47,47,1) 0%,rgba(86,86,86,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(47,47,47,1) 0%,rgba(86,86,86,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(47,47,47,1) 0%,rgba(86,86,86,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f2f2f', endColorstr='#565656',GradientType=0 ); /* IE6-9 */
	
}
.button.back {
	background: #131313; /* Old browsers */
	background: -moz-linear-gradient(top,  #131313 0%, #424242 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#131313), color-stop(100%,#424242)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #131313 0%,#424242 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #131313 0%,#424242 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #131313 0%,#424242 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #131313 0%,#424242 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#424242',GradientType=0 ); /* IE6-9 */
}
.button.white {
	color: #3d3d3d;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(235,235,235,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebebeb',GradientType=0 ); /* IE6-9 */
}
.button.white:hover {
	color: #24c113;
}
.button.back span {
	display: block;
	float: left;
	margin: 5px 4px 0 0;
	width: 8px;
	height: 7px;
	background: url(../img/arrow_left.png) no-repeat;
}
.button.back:hover {
	color: #fff;
}

/* Widget specific stuff */
p {
	line-height: 1em;
	margin: .5em;
	clear: both;
}

p label {
	display: block;
	float: left;
	width: 40%;
	font-weight: bold;
}
