#main {
	width: 100%;
	height: 100%;
}

.node {
    border: 1px solid #346789;
    box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    opacity: 0.8;
    filter: alpha(opacity=80);
    width: 160px;
    height: 60px;
    line-height: 1em;
    cursor: pointer;
    text-align: center;
    z-index: 20;
    position: absolute;
    background-color: #eeeeef;
    color: black;
    font-family: helvetica;
    padding: 1.5em 0.5em;
    font-size: 0.9em;
    -webkit-transition: -webkit-box-shadow 0.15s ease-in;
    -moz-transition: -moz-box-shadow 0.15s ease-in;
    -o-transition: -o-box-shadow 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;
}

.node p {
	width: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.node p.small {
	font-size: 70%;
}

#main ._jsPlumb_connector {
    z-index: 4;
}

#main ._jsPlumb_endpoint {
    z-index: 22;
    cursor: pointer;
    opacity: 0.5;
}

#main ._jsPlumb_overlay {
    z-index: 21;
}
